# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
dmenv/
.env/

# Editable install egg-info
*.egg-info/

# Distribution / packaging
dist/
build/
*.egg
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# dotenv files (if containing secrets)
.env